In [1]:
import warnings
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
warnings.filterwarnings('ignore')# evitar os pop-ups de warning já previstos

In [3]:
from pycaret.datasets import get_data
df = get_data('credit')

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,90000,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
2,50000,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
3,50000,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
4,50000,1,1,2,37,0,0,0,0,0,...,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0

In [ ]:
df = df.drop("id", axis=1)

In [ ]:
le = LabelEncoder()
ohe = OneHotEncoder(handle_unknown='ignore', sparse=False)

# create a DataFrame to hold the encoded columns
encoded_cols = pd.DataFrame()

# loop through each column in the DataFrame
for col in df.columns:
    if df[col].dtype == 'object':  # check if column is categorical
        # use label encoding for categorical columns with 2 or less unique values
        if len(df[col].unique()) <= 2:
            df[col] = le.fit_transform(df[col])
        # use one-hot encoding for categorical columns with more than 2 unique values
        else:
            encoded_array = ohe.fit_transform(df[[col]])
            encoded_df = pd.DataFrame(encoded_array, columns=ohe.get_feature_names_out([col]))
            encoded_cols = pd.concat([encoded_cols, encoded_df], axis=1)
    else:  # column is numerical, so no encoding is needed
        encoded_cols = pd.concat([encoded_cols, df[[col]]], axis=1)

# concatenate the encoded columns with the original DataFrame
df_encoded = pd.concat([encoded_cols, df.select_dtypes(include=['float64', 'int64'])], axis=1)

# your DataFrame is now encoded and ready to be used in a machine learning model

In [ ]:
df_encoded

In [ ]:
df

In [ ]:
dataset = df.drop("id", axis=1)

In [4]:
#Separando dados de treino e ocultos
data = df.sample(frac=0.95, random_state=786)

#dados ocultos
data_unseen = df.drop(data.index)

#Restaurando os index dos dados
data.reset_index(inplace=True, drop=True)
data_unseen.reset_index(inplace=True, drop=True)

print(f'Dados para modelagem: {data.shape} | Dados ocultos: {data_unseen.shape}')

Dados para modelagem: (22800, 24) | Dados ocultos: (1200, 24)

In [ ]:
data

In [ ]:
new_column_names = {'bvs_cidade.1': 'bvs_cidade_1', 'scr_responsabilidadetotalsubjudice.1': 'scr_responsabilidadetotalsubjudice_1', 'scr_responsabilidadetotalsubjudice.2': 'scr_responsabilidadetotalsubjudice_2', 'scr_responsabilidadetotalsubjudice.3': 'scr_responsabilidadetotalsubjudice_3', 'scr_responsabilidadetotalsubjudice.4': 'scr_responsabilidadetotalsubjudice_4','scr_riscoindiretovendor.1': 'scr_riscoindiretovendor_1'}
data = data.rename(columns=new_column_names)

In [ ]:
from pycaret.classification import *
clf_test = setup(data, target = "target", categorical_features = ['bvs_numero', 'bvs_numero_logradouro_501']
                 ,numeric_imputation ="mean", categorical_imputation = "constant" )

In [5]:
from pycaret.regression import *
clf_test = setup(data, target = "LIMIT_BAL")

In [6]:
best = compare_models(n_select = 3)

In [8]:
LGBM = create_model("lightgbm")

In [9]:
tuned_best = tune_model(LGBM)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [10]:
final_clf = finalize_model(tuned_best)

In [11]:
save_model(final_clf,'Final_clf_LGBM')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\manue\AppData\Local\Temp\joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['SEX', 'EDUCATION', 'MARRIAGE',
                                              'AGE', 'PAY_1', 'PAY_2', 'PAY_3',
                                              'PAY_4', 'PAY_5', 'PAY_6',
                                              'BILL_AMT1', 'BILL_AMT2',
                                              'BILL_AMT3', 'BILL_AMT4',
                                              'BILL_AMT5', 'BILL_AMT6',
                                              'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
                                              'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
                                              'default'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('actual_estimator', LGBMRegressor(random_state=481))]),
 'Final_clf_LGBM.pkl')

In [ ]:
import pandas as pd

# Load the Excel file into a DataFrame
df = pd.read_excel('Lara_data.xlsx', header=None, sheet_name='Planilha1')

# Get the first two rows as a separate DataFrame
subset_df = df.iloc[:2, :]

"""# Convert the DataFrame to a JSON string
json_str = subset_df.to_json(orient='records')

# Print the JSON string
print(json_str)"""

In [ ]:
subset_df

In [ ]:
import pandas as pd
import json

# Read excel file
df_excel = pd.read_excel('Lara_data.xlsx', header=None)

# Get first two rows as list
header = df_excel.iloc[0].tolist()
data = df_excel.iloc[1].tolist()

# Create dataframe
df_aux = pd.DataFrame(data=[data], columns=header)

# convert DataFrame to dictionary
df = df.to_dict(orient='records')

# convert dictionary to JSON object
json_data = json.dumps(data)

print(json_data)

In [ ]:
df = df.drop(labels= "id", axis = 1)

In [ ]:
def get_column_types(dataframe):
    column_types = dataframe.dtypes
    column_types_dict = column_types.to_dict()
    return column_types_dict


column_types = get_column_types(data)
print(column_types)

In [ ]:
df

In [12]:
column_names = df.columns.tolist()
column_names

['LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_1',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'default']

In [ ]:
column_data =[
     'target',
     'bvs_estado_civil',
     'bvs_regiao_cpf',
     'bvs_grau_instrucao',
     'bvs_sexo_consultado',
     'bvs_numero_dependentes',
     'bvs_cep',
     'bvs_numero',
     'bvs_cidade',
     'bvs_estado',
     'bvs_ddd_1',
     'bvs_ddd_2',
     'bvs_ddd_3',
     'bvs_bairro',
     'bvs_cidade_1',
     'bvs_nome_logradouro',
     'bvs_numero_logradouro_501',
     'bvs_uf',
     'bvs_registro_124',
     'bvs_tiporegistro_124',
     'bvs_tamanhoregistro_124',
     'bvs_registro_241',
     'bvs_tiporegistro_241',
     'bvs_tamanhoregistro_241',
     'bvs_registro_940',
     'bvs_tiporegistro_940',
     'bvs_tamanhoregistro_940',
     'bvs_uf_142',
     'bvs_moeda_142',
     'bvs_valor_142',
     'bvs_cidade_142',
     'bvs_cartorio_142',
     'bvs_registro_142',
     'bvs_tiporegistro_142',
     'bvs_dataocorrencia_142',
     'bvs_tipoocorrencia_142',
     'bvs_tamanhoregistro_142',
     'bvs_registro_126',
     'bvs_tiporegistro_126',
     'bvs_tamanhoregistro_126',
     'bvs_registro_123',
     'bvs_tiporegistro_123',
     'bvs_tamanhoregistro_123',
     'bvs_uf_146',
     'bvs_moeda_146',
     'bvs_total_146',
     'bvs_registro_146',
     'bvs_periodofinal_146',
     'bvs_tiporegistro_146',
     'bvs_periodoinicial_146',
     'bvs_valoracumulado_146',
     'bvs_tamanhoregistro_146',
     'bvs_registro_108',
     'bvs_tiporegistro_108',
     'bvs_tamanhoregistro_108',
     'bvs_registro_111',
     'bvs_tiporegistro_111',
     'bvs_tamanhoregistro_111',
     'bvs_score_601',
     'bvs_classificacaonumerica_601',
     'bvs_classificacaoalfabetica_601',
     'scr_tipodocliente',
     'scr_codigodocliente',
     'scr_databaseconsultada',
     'scr_cnpjdaifsolicitante',
     'scr_coobrigacaoassumida',
     'scr_coobrigacaorecebida',
     'scr_riscoindiretovendor',
     'scr_quantidadedeoperacoes',
     'scr_data_datainiciorelacionamento',
     'scr_quantidadedeinstituicoes',
     'scr_percentualvolumeprocessado',
     'scr_listademensagensdevalidacao',
     'scr_coobrigacaoassumidaspecified',
     'scr_coobrigacaorecebidaspecified',
     'scr_quantidadeoperacoessubjudice',
     'scr_riscoindiretovendorspecified',
     'scr_responsabilidadetotalsubjudice',
     'scr_percentualdocumentosprocessados',
     'scr_responsabilidadetotalsubjudice_1',
     'scr_responsabilidadetotalsubjudice_2',
     'scr_responsabilidadetotalsubjudice_3',
     'scr_responsabilidadetotalsubjudice_4',
     'scr_prejuizo',
     'scr_repasses',
     'scr_riscototal',
     'scr_coobrigacoes',
     'scr_qtdeoperacoes',
     'scr_carteiravencer',
     'scr_carteiravencido',
     'scr_creditosaliberar',
     'scr_limitesdecredito',
     'scr_qtdeinstituicoes',
     'scr_carteiradecredito',
     'scr_prejuizoate12meses',
     'scr_riscoindiretovendor_1',
     'scr_prejuizoacima12meses',
     'scr_responsabilidadetotal',
     'scr_vlroperacoessobjudice',
     'scr_dtiniciorelacionamento',
     'scr_qtdeoperacoessobjudice',
     'scr_carteiravencer31a60dias',
     'scr_carteiravencer61a90dias',
     'scr_carteiravencer91a180dias',
     'scr_carteiravencido15a30dias',
     'scr_carteiravencido61a90dias',
     'scr_vlroperacoesdiscordancia',
     'scr_carteiravencer181a360dias',
     'scr_carteiravencido91a180dias',
     'scr_percdocumentosprocessados',
     'scr_qtdeoperacoesdiscordancia',
     'scr_carteiravenceracima360dias',
     'scr_carteiravencido181a360dias',
     'scr_limitesdecreditoate360dias',
     'scr_carteiravencidoacima360dias',
     'scr_limitesdecreditoacima360dias',
     'scr_carteiravencerprazoindeterminado',
     'scr_carteiravencerate30diasvencidosate14dias',
     'quodneg_age',
     'quodneg_gender',
     'quodneg_inquirycountlast30days',
     'quodneg_inquirycountmore90days',
     'quodneg_inquirycountlast31to60days',
     'quodneg_inquirycountlast61to90days',
     'quodneg_quodscore',
     'quodneg_reasoncode1',
     'quodneg_reasoncode1_message',
     'quodneg_profilescore',
     'quodneg_paymentcommitmentscore',
     'quodneg_hasinquirydata',
     'quodneg_hasnegativedata',
     'quodneg_hasonlyminimumpii',
     'quodpos_countindicators',
     'quodpos_value_gc_av_grv01',
     'quodpos_value_gc_pc_tdc01',
     'quodpos_value_pf_cp_cnt01',
     'quodpos_value_pf_cp_vol02',
     'quodpos_value_pp_av_amp02',
     'quodpos_value_pp_av_grv02',
     'quodpos_value_pp_av_grv04',
     'quodpos_value_pp_ha_vlr01',
     'quodpos_value_pp_ha_vlr02',
     'quodpos_value_pp_pd_cpg01']

In [14]:
# Create a DataFrame with three columns and two 
# Select the first row of the DataFrame
row = df.iloc[1]

# Convert the row to a list
my_list = row.tolist()

#my_list.pop(0)
print(my_list)

[90000.0, 2.0, 2.0, 2.0, 34.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 29239.0, 14027.0, 13559.0, 14331.0, 14948.0, 15549.0, 1518.0, 1500.0, 1000.0, 1000.0, 1000.0, 5000.0, 0.0]

In [16]:
import json
import requests

# Example lists
keys = column_names
values = my_list

# Create a dictionary from the lists
data = dict(zip(keys, values))

# Convert the dictionary to a pretty-printed JSON string
json_data = json.dumps(data, indent=2)

# Print the JSON string
print(json_data)


# Print the response
print(column_data)

{
  "LIMIT_BAL": 90000.0,
  "SEX": 2.0,
  "EDUCATION": 2.0,
  "MARRIAGE": 2.0,
  "AGE": 34.0,
  "PAY_1": 0.0,
  "PAY_2": 0.0,
  "PAY_3": 0.0,
  "PAY_4": 0.0,
  "PAY_5": 0.0,
  "PAY_6": 0.0,
  "BILL_AMT1": 29239.0,
  "BILL_AMT2": 14027.0,
  "BILL_AMT3": 13559.0,
  "BILL_AMT4": 14331.0,
  "BILL_AMT5": 14948.0,
  "BILL_AMT6": 15549.0,
  "PAY_AMT1": 1518.0,
  "PAY_AMT2": 1500.0,
  "PAY_AMT3": 1000.0,
  "PAY_AMT4": 1000.0,
  "PAY_AMT5": 1000.0,
  "PAY_AMT6": 5000.0,
  "default": 0.0
}

NameError: name 'url' is not defined